/* Pages Main Tyle */
.pages {
	color: #000000;
	cursor: default;
	font-size: 10px;
	font-family: Tahoma, Verdana;
	padding: 3px 0px 3px 0px;
	margin-left:397px;
	margin-top:2px;
}
.pages .count, .pages .number, .pages .arrow {
	color: #000000;
	font-size: 10px;
	background-color: #F7F7F7;
	border: 1px solid #CCCCCC;
}
/* Page and PageCount Style */
.pages .count {
	font-weight: bold;
	border-right: none;
	padding: 2px 10px 1px 10px;
}
/* Mode 0,1,2 Style (Number) */
.pages .number {
	font-weight: normal;
	padding: 2px 10px 1px 10px;
}
.pages .number a, .pages .number span {
	font-size: 10px;
}
.pages .number span {
	color: #999999;
	margin: 0px 3px 0px 3px;
}
.pages .number a {
	color: #000000;
	text-decoration: none;
}
.pages .number a:hover {
	color: #0000ff;
}
.pages .input input.ititle {
	width: 70px;
	text-align: right;
	border-right: none;
}
.pages .input input.itext {
	width: 25px;
	color: #000000;
	text-align: right;
	border-left: none;
	border-right: none;
}
.pages .input input.icount {
	width: 35px;
	text-align: left;
	border-left: none;
}
.pages .input input.ibutton {
	height: 17px;
	color: #FFFFFF;
	font-weight: bold;
	font-family: Verdana;
	background-color: #999999;
	border: 1px solid #666666;
	padding: 0px 0px 2px 1px;
	margin-left: 2px;
	cursor: hand;
}

body,table {
	font-size: 12px;
}
a:link {
	color: #FFFFFF;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #FFFFFF;
}
a:hover {
	text-decoration: none;
	color: #FF0000;
}
a:active {
	text-decoration: none;
	color: #FF0000;
}
.trt{
	color:#FFFFFF;
	background-color:#000000;
	cursor:hand;
}