﻿.tree *{ margin:0; padding:0; } /*清除树下的所有margin及padding*/

.tree ul{ list-style-type: none; }
.tree ul li{ line-height: 18px; }
.tree a, .tree a:visited, .tree ins{ display:inline-block; text-decoration:none; }

.tree a{ padding:1px 4px; color:#000; }
.tree a:hover{ background: #e7f4f9; border:1px solid #d8f0fa; padding:0px 3px 0px 3px; }

.tree a.clicked{ background: #e7f4f9; }

.tree ins{ width: 18px; background-repeat:no-repeat; }
.tree span{ cursor: default; }
.tree .loading,
.tree .last_loading,
.tree .open,
.tree .closed,
.tree .last_open,
.tree .last_closed{ padding-left:18px; background-repeat:no-repeat; }


.tree .open{ background-image: url(images/minus.gif); }/* 普通节点打开状态 */

.tree .loading,
.tree .closed{ background-image: url(images/plus.gif); }/* 普通节点关闭状态 */
.tree .last_open{ background-image: url(images/minusbottom.gif); }/* 最后一个节点打开状态 */

.tree .last_loading,
.tree .last_closed{ background-image: url(images/plusbottom.gif); }/* 最后一个节点关闭状态 */


.tree .open ins,/* 打开状态下文件夹图标 */
.tree .last_open ins{ background-image: url(images/folderopen.gif); }

.tree .closed ins,/* 关闭状态下文件夹图标 */
.tree .last_closed ins{ background-image: url(images/folder.gif); }

.tree .loading ins{ background-image:url(images/loading.gif);}
.tree .last_loading ins{ background-image:url(images/loading.gif);}

.tree .node{
	padding-left: 18px;
	background: url(images/line.gif) repeat-y;
}