*,html,body{
	margin: 0px;
	padding: 0px;
}
html,body{
	background: #6087b9 url(Images/bg.png) repeat-x;
	overflow: hidden;
}
body{ height:100%; }
.hand{/* 显示为手形 */
	cursor: pointer;
}

/* 播放器圆角 */
#player .top_corner{background: #48617A}
#player .bottom_corner{background: #83a6d2}
b.rtop, b.rbottom{display:block;background: #5a82b5}
b.rtop b, b.rbottom b{display:block;height: 1px;overflow: hidden; background: #48617A}
#player .bottom_corner b.rtop, b.rbottom{display:block;background: #799dcb}
b.r1{margin: 0 5px}
b.r2{margin: 0 3px}
b.r3{margin: 0 2px}
b.rtop b.r4, b.rbottom b.r4{margin: 0 1px;height: 2px}


/*===================================================*/

#player{/*定义播放器位置*/
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -140px;
	margin-top: -185px;
	width: 280px;
	height: 370px;
	font-size: 12px;
	font-family: '微软雅黑';
	z-index: 100001;
	cursor: default;
}

#top{/*定义播放器顶部样式*/
	height: 70px;
	background-color: #48617A;
}

#play_control{/*定义播放器控制组样式*/
	padding-top: 5px;
	height: 60px;
}
#play_status, #play_next{/*定义播放,下一首 公用样式*/
	width: 40px;
	height: 43px;
}
#play_status{
	margin: 0px 0px 0px 11px;
	background: url(Images/pause.png) 0px 0px;
}
#play_next{
	margin: -42px 0 0 63px;
	background: url(Images/next.png);
}

#play_time{/* 播放时间 */
	margin: -30px 0 0 115px;
	font: italic normal bolder;
	font-family: Verdana, Courier New;
	color: #FFF;
}

#play_volume_control{/* 声音进度条 */
	margin: -15px 0 0 213px;
	width: 56px;
	height: 16px;
	background: url(Images/valume.png) no-repeat;
}

#volume_icon{/* 声音图标 */
	position: relative;
	left: 0px;
	width: 16px;
	height: 16px;
	background: url(Images/sound_on.png) left top;
}

/*============================================================*/

#middle{/*定义播放器中部样式*/
	padding: 5px 9px;
	background-color: #5B7CA7;
	height: 20px;
}


#reset, #rnd{/*定义 重置列表,随机打乱 公用样式*/
	width: 52px;
	height: 20px;
	overflow: hidden;
}
#reset{
	background: url(Images/reset.png) no-repeat;
}
#rnd{
	margin: -20px 0 0 58px;
	background: url(Images/rnd.png) no-repeat;
}
#song_total{/* 歌曲总数 */
	margin: -18px 0 0 158px;
	_margin-top: -15px;
	font: italic bolder;
	font-family: Verdana, Courier New;
	color: #FFF;
	width: 40px;
	height: 14px;
	text-align: right;
}
#add_song{/*添加*/
	margin: -11px 0 0 208px;
	_margin-top: -13px;
	width: 11px;
	height: 11px;
	background: url(Images/add.png) no-repeat;
}
#remove_song{/*移除*/
	margin: -9px 0 0 228px;
	_margin-top: -15px;
	width: 10px;
	height: 9px;
	background: url(Images/remove.png) no-repeat;
}
#scroll_up{/*向上移动*/
	margin: -8px 0 0 248px;
	_margin-top: -17px;
	width: 14px;
	height: 8px;
	background: url(Images/up.png) no-repeat;
}

/*==================================================*/
#playlist{/*播放列表*/
	height: 240px;
	background: #FFF;
	overflow: hidden;
}
#playerlist ul{
	list-style: none;
}
#playlist ul li{/*每一个歌曲项*/
	float: left;
	height: 22px;
	line-height: 22px;
	border: 1px solid #FFF;
	background: #FFF;
	width: 278px;
	overflow:hidden;
}

#playlist ul .song_item{
	float: left;
	width: 178px;
}

#playlist ul .play_it,/*单击播放*/
#playlist ul .collect_it,/*单击收藏*/
#playlist ul .del_it{/*单击删除*/
	float:right;
	width: 18px;
	height: 18px;
	margin: 2px 6px 2px 0px;
	display: none;
}
#playlist ul .play_it{
	background: url(Images/play_it.png);
}
#playlist ul .collect_it{
	background: url(Images/fav_it.png);
}
#playlist ul .del_it{
	background: url(Images/del_it.png);
}

#playlist ul li .icons{
	float: left;
	width: 22px;
	height: 22px;
	background: url(Images/items.gif) no-repeat center center;
}

#playlist ul .current_play,
#playlist ul .current_play_lock{
	border-color: #FFCC00;
	background-color: #FFDE55;
}

#playlist ul .lock{
	border-color: #CBDBEE;
	background-color: #CBDBEE;
}

#playlist ul .mark{
	border-color: #ffcc00;
}

#playlist ul .mark_lock{
	border-color: #ffcc00;
	background-color: #cbdbee;
}

#playlist ul .mark_over,
#playlist ul .mark_lock_over,
#playlist ul .current_play_over,
#playlist ul .current_play_lock_over{
	border-color: #FFCC00;
	background-color: #FFF5CB;
}

#playlist ul .lock_over,
#playlist ul .current_over{
	border-color: #FFF5CB;
	background-color: #FFF5CB;
}

#playlist ul .lock .icons,
#playlist ul .mark_lock .icons,
#playlist ul .current_play_lock .icons{
	background: url(Images/lock_it.gif) no-repeat;
}

#playlist ul .mark_over .icons,
#playlist ul .current_over .icons,
#playlist ul .current_play_over .icons{
	background: url(Images/lock.gif) no-repeat;
	cursor: pointer;
}

#playlist ul .lock_over .icons,
#playlist ul .mark_lock_over .icons,
#playlist ul .current_play_lock_over .icons{
	background: url(Images/unlock_it.gif) no-repeat;
	cursor: pointer;
}

#playlist ul .mark_over .play_it,   
#playlist ul .mark_over .collect_it,
#playlist ul .mark_over .del_it,

#playlist ul .mark_lock_over .play_it,   
#playlist ul .mark_lock_over .collect_it,
#playlist ul .mark_lock_over .del_it,

#playlist ul .lock_over .play_it,   
#playlist ul .lock_over .collect_it,
#playlist ul .lock_over .del_it,

#playlist ul .current_play_lock_over .play_it,   
#playlist ul .current_play_lock_over .collect_it,
#playlist ul .current_play_lock_over .del_it,

#playlist ul .current_play_over .play_it,   
#playlist ul .current_play_over .collect_it,
#playlist ul .current_play_over .del_it,

#playlist ul .current_over .play_it,
#playlist ul .current_over .collect_it,
#playlist ul .current_over .del_it{
	display: block;
	cursor: pointer;
}

/*============================================*/
/* 载入中的Flash样式 */
#loading_song{
	position: absolute;
	width: 100%;
	height: 240px;
	text-align: center;
	padding-top: 104px;
}

/*============================================*/
/* 播放器底部 */
#bottom_control{
	height: 25px;
	background-color: #48617a;
}
/* 清除浮动 */
.clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
}
.clearfix {
    zoom: 1;
}