﻿<%@ Page Language="C#" AutoEventWireup="true"  CodeFile="Fetion.aspx.cs" Inherits="_Default" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Fetion Web C# 版</title>
    <style type="text/css">
        label{
            display: block;
            float:left;
            width: 140px;
            text-align:right;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
    <div style="height: 352px; width: 392px;">

        <label for="Mobile_Number">手机号码:</label>
        <asp:TextBox ID="Mobile_Number" runat="server" Width="180px"></asp:TextBox>
        <br />
        <label for="Mobile_Pass">手机密码:</label>
        <asp:TextBox ID="Mobile_Pass" runat="server" Width="180px" TextMode="Password"></asp:TextBox>
        <br />
        <label for="Receive_Number">接收的手机号:</label>
        <asp:TextBox ID="Receive_Number" runat="server" Width="180px"></asp:TextBox>
        <br />
        <label  for="Content">短消息内容:</label>
        <asp:TextBox ID="Content" runat="server" Height="180px" Width="203px"
            TextMode="MultiLine"></asp:TextBox>
        <br />
        <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <asp:Button ID="SendSMS" runat="server" Text="发送短消息" Height="61px"
            Width="188px" onclick="SendSMS_Click" />
        <br />
    </div>
    <asp:Label ID="Result" runat="server" Text="Label" Visible="False"></asp:Label>
    </form>
</body>
</html>
